<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		<add key="ConfigKey" value="ConfigValue" />
		-->
		<add key="JwtSecret" value="aUhGP^!%Fvy6S@m2QuuppMYsxgcSDPjsJMvR5ncK%cE299v@4m!AGCBtCB!#v2fV" />
		<add key="JwtWebExpireTime" value="600" />
		<add key="JwtAppExpireTime" value="43200" />
		<!-- Redis -->
		<add key="RedisEnable" value="false" />
		<add key="RedisHost" value="127.0.0.1" />
		<add key="RedisPort" value="6379" />
		<add key="RedisPwd" value="" />
		<add key="RedisDbIndex" value="-1" />
		<!-- MySql -->
		<add key="MySqlEnable" value="false" />
		<add key="MySqlHost" value="127.0.0.1" />
		<add key="MySqlDb" value="" />
		<add key="MySqlUser" value="" />
		<add key="MySqlPwd" value="" />
		<!-- Sqlite -->
		<add key="SqliteEnable" value="false" />
		<add key="SqliteFilePath" value="Core.db" />
		<add key="SqlitePwd" value="" />
		<!-- SqlServer -->
		<add key="SqlServerEnable" value="false" />
		<add key="SqlServerHost" value="127.0.0.1" />
		<add key="SqlServerUserID" value="" />
		<add key="SqlServerPwd" value="" />
		<add key="SqlServerInitialCatalog" value="" />
	</appSettings>
</configuration>