<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		<add key="ConfigKey" value="ConfigValue" />
		-->
		<add key="JwtSecret" value="aUhGP^!%Fvy6S@m2QuuppMYsxgcSDPjsJMvR5ncK%cE299v@4m!AGCBtCB!#v2fV" />
		<add key="JwtWebExpireTime" value="600" />
		<add key="JwtAppExpireTime" value="43200" />

		<add key="RedisHost" value="127.0.0.1" />
		<add key="RedisPort" value="6379" />
		<add key="RedisPwd" value="" />
		<add key="RedisDbIndex" value="-1" />
	</appSettings>
</configuration>